<div class='center'>
    <div class='content_center'>
        <h1>Edit <%= @current_user.username %>'s Info</h1>
        <%= form_for @current_user do |f|%>
            <%= render partial: 'form', locals: {form: f, submit: 'Edit User'} %>
        <% end %>
    </div>
</div>
