
<%= link_to('New Commercial', new_user_commercial_path) if @user %><br>
<%= link_to('User Page', user_path(@current_user))%>
<h1><%= "#{@user.username}'s " if @user %>Commercials</h1>
<ul>
    <% @commercials.each do |commercial|%>
        <li><%= commercial.title %></li>
    <% end %>
</ul>